.navbar{
  width: calc(100% - 16px);
  height: 46px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 4px gray;
  /* background: var(--background-header); */
  backdrop-filter: blur(5px);
  padding: 0px 8px;
  position: relative;
  z-index: 9999999;
}

.menu-btn{
  display: none;
}

.enterprise{
  display: flex;
  align-items: center;
}

.enterprise .logo-container{
  width: 50px;
  height: 100%;
  margin-right: 8px;
}

.enterprise .logo-container img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.enterprise .name{
  font-size: 1.35em;
  color: var(--text-primary-color);
}

.options-menu{ 
  width: 100%; 
  justify-content: center;
  position: relative;
}

.products{
  position: relative;
  background: transparent !important;
  height: 100%;
  color: var(--text-primary-color) !important;
}

.floating-menu {
  position: absolute;
  top: calc(100% + 0px);
  left: 0;
  min-width: 160px;
  background: var(--background-header);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  padding: 12px 0;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
  opacity: 0;
  pointer-events: none;
  transform: translateY(5px);
  transition: opacity 0.2s ease, transform 0.2s ease;
  z-index: 999;
  padding: 10px;
}

/* EL TRIÁNGULO */
.floating-menu .arrow {
  position: absolute;
  top: -6px;            /* lo coloca encima */
  left: 20px;           /* mueve el triángulo horizontalmente */
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid var(--background-header); 
  filter: drop-shadow(0 -2px 2px rgba(0,0,0,0.1)); /* sombrita elegante */

}

.products:hover .floating-menu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.options-menu, .container-actions{
  display: flex;
  align-items: center;
  gap: 5px;
}

.options-menu a{
  text-decoration: none;
  color: var(--text-primary-color);
  padding: 3px 15px;
  border-radius: 15px;
  transition: .3s;
  display: flex;
  align-items: center;
}

.options-menu .option{ cursor: pointer; }

.options-menu .option:hover, .active{
  background: var(--background-primary-button);
  color: white !important;
}

@media (max-width: 675px) {
  .options-menu, .container-actions{
    display: none;
  }
  .navbar{ justify-content: unset;}
  .enterprise{ margin: 0px auto}
  .menu-btn{ display: block;}
}
