<div class="input-wrap" 
    [style.--input-form-color]="inputColor()" 
    [style.--input-focus-color]="inputFocusColor()" 
>
    <div class="icon-form" [style.--icon-form-color]="disabled() ? 'gray' : iconColor()">
        <mat-icon>{{prefixIcon()}}</mat-icon>
    </div>
    <input 
        [type]="type()" 
        [placeholder]="placeHolder()" 
        (input)="onInputChange($event)"
        [disabled]="disabled()"
        (blur)="onTouched()"
        [style]="{
            'padding': showBtn() ? '10px 40px 10px 40px' : '10px 10px 10px 40px'
        }"
    >
    @if(showBtn()){
        <div class="icon-form-right" [style.--icon-form-color]="disabled() ? 'gray' : iconColor()" (click)="onClick()">
            <mat-icon>{{suffixIcon()}}</mat-icon>
        </div>
    }
</div>
