<div class="main">
    <!-- <div class="container"> -->
    @if(successChangePassword() == null){
        <form [formGroup]="form" class="container">
            <p>{{'reset_password' | translate}}</p>
            <div style="width: 100%;">
                <input-form 
                    style="width: 100%;"
                    [placeHolder]=" 'new_password' | translate "
                    formControlName="password"
                    prefixIcon="vpn_key"
                    margin="20px 0px 0px 0px"
                    [type]=" !showPassword() ? 'password' : 'text'"
                    iconColor="var(--text-primary-color)"
                    inputColor="var(--text-primary-color)"
                    inputFocusColor="#7b4e7f"
                    [showBtn]="true"
                    [suffixIcon]="showPassword() ? 'visibility_off' : 'visibility'"
                    (iconClick)="showPassword.set(!showPassword())"
                />
                @if (form.controls.password.touched && form.controls.password.errors) {
                    @if (form.controls.password.errors['required']) {
                    <small>{{'required_password' | translate}}</small>
                }
                
                @if (form.controls.password.errors['minlength']) {
                    <small>{{'min_length_password' | translate}}</small>
                }
                
                @if (form.controls.password.errors['pattern']) {
                    <small>{{'validator_password' | translate}}</small>
                }
    
                }
            </div>

            <div style="width: 100%;">
                <input-form 
                    style="width: 100%;"
                    [placeHolder]=" 'validate_password' | translate "
                    formControlName="validatePassword"
                    prefixIcon="vpn_key"
                    margin="20px 0px 0px 0px"
                    type="password"
                    iconColor="var(--text-primary-color)"
                    inputColor="var(--text-primary-color)"
                    inputFocusColor="#7b4e7f"
                    [disabled]="!form.controls.password.valid"
                    [showBtn]="true && form.controls.password.valid"
                    [type]=" !showValidatePassword() || !form.controls.password.valid ? 'password' : 'text'"
                    [suffixIcon]="showValidatePassword() ? 'visibility_off' : 'visibility'"
                    (iconClick)="showValidatePassword.set(!showValidatePassword())"
                />
                @if (form.controls.password.valid && (form.controls.password.value != form.controls.validatePassword.value && form.controls.validatePassword.value.length > 1)) {
                    <small>{{'password_not_coincidence' | translate}}</small>
                    }
            </div>
    
            <button  
                matRipple 
                matRippleColor="#ffffff15"
                [disabled]="!form.controls.password.valid || (form.controls.password.value != form.controls.validatePassword.value)"
                (click)="submit()"
            >{{ 'login' | translate }}</button>
        </form>
    }

     @if(successChangePassword() != null){
        <div class="container">
            <div class="detail">
                @if(successChangePassword() == true){
                    <mat-icon class="icon success">done_all</mat-icon>
                }
    
                @if(successChangePassword() == false){
                    <mat-icon class="icon error">report</mat-icon>
                }
                <span class="message">{{ mutation.data()?.message }}</span>
            </div>
        </div>
     }
    <!-- </div> -->
</div>
