.main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: var(--url-background);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container{
  padding: 30px;
  border-radius: 19px;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 1px gray;
  min-width: 300px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.container small{
  color: rgb(223, 67, 67);
  display: block;
}

.custom{ margin: 0 auto;}

::ng-deep .custom circle {
  stroke: var(--background-primary-button); /* verde */
}

button{
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7b4e7f;
  color: white;
  cursor: pointer
}

button:disabled{
  background: lightgray;
}

p{
  margin: 0;
  color: var(--text-primary-color);
  font-size: 1.25em;
}

.detail{ text-align: center;}

.detail .message{
  font-size: 1.25em;
  display: block;
  color: var(--text-primary-color);
  transition: .3s;
  text-transform: capitalize;
}

.icon{
  font-size:  100px;
  width:  100px;
  height:   100px;
}

.error{ color: #f93636 }
.success{ color: #1ada1a}
