.main-container{
    width: 100%;
    height: calc(100% - 46px);
    overflow: auto;
}

.detail{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0px 20%;
}

.detail-infra{
    display: flex;
    gap: 30px;
    align-items: center;
}


.detail-infra:nth-child(1) .zoom-in{ animation-delay: .7s;}
.detail-infra:nth-child(2) .zoom-in{ animation-delay: 1.2s;}
.detail-infra:nth-child(3) .zoom-in{ animation-delay: 1.7s;}
.detail-infra:nth-child(4) .zoom-in{ animation-delay: 2.2s;}

.circle-icon{
    border-radius: 100%;
    box-shadow: 0px 0px 3px gray;
    padding: 10px;
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.circle-icon .icon{
  width: 35px;
  height: 35px;
  font-size: 35px;
  transition: .3s;
  color: var(--text-primary-color);

}

.title{ 
  font-weight: bold; 
  color: var(--text-primary-color); 
  transition: .3s;
}
.description, .main-description{ 
  text-align: justify; 
  color: var(--text-primary-color);
  transition: .3s;
}
.main-description{ 
    margin: 20px 10% 15px;
    padding: 10px;
    border-radius: 9px;
    backdrop-filter: blur(5px);
}
.detail-info{
    border-radius: 9px;
    backdrop-filter: blur(5px);
    padding: 5px;
}

@media (max-width: 1000px) {
  .main-description{
    margin: 15px 5% 15px;
  }
}

@media (max-width: 850px) {
  .detail{
    padding: 0px 5%;
  }
}

@media (max-width: 450px) {
  .detail-infra{
    flex-direction: column;
    gap: 10px;
  }

  .circle-icon{
    width: 50px;
    height: 50px;
  }
}
