<div class="main-container">
    <p class="main-description fade-in">
        {{ 'about_description' | translate}}
    </p>
    <div class="detail">
        <div class="detail-infra">
            <div class="circle-icon zoom-in">
                <!-- <img src="/images/principal/cloud.svg"> -->
                    <mat-icon class="icon">cloud</mat-icon>
            </div>
            <div class="detail-info zoom-in">
                <div class="title"> {{ 'cloud_service' | translate }}</div>
                <div class="description">{{ 'cloud_description' | translate }}</div>
            </div>
        </div>
        <div class="detail-infra">
            <div class="circle-icon zoom-in">
                <!-- <img src="/images/principal/code.svg"> -->
                 <mat-icon class="icon">code</mat-icon>

            </div>
            <div class="detail-info zoom-in">
                <div class="title"> {{ 'modern_framework' | translate }}</div>
                <div class="description">{{ 'framework_description' | translate }}</div>
            </div>
        </div>
        <div class="detail-infra">
            <div class="circle-icon zoom-in">
                 <mat-icon class="icon">support</mat-icon>

                <!-- <img src="/images/principal/support.svg"> -->
            </div>
            <div class="detail-info zoom-in">
                <div class="title"> {{ 'integral_support' | translate }}</div>
                <div class="description">{{ 'support_description' | translate }}</div>
            </div>
        </div>
        <div class="detail-infra">
            <div class="circle-icon zoom-in">
                <!-- <img src="/images/principal/innovation.svg"> -->
                <mat-icon class="icon">autorenew</mat-icon>
            </div>
            <div class="detail-info zoom-in">
                <div class="title"> {{ 'innovation' | translate }}</div>
                <div class="description">{{ 'innovation_description' | translate }}</div>
            </div>
        </div>
    </div>
</div>
