<div class="contain">
	<div class="c-header">
		<div class="flex" style="margin-bottom: 10px;">
			@if(btn_back()){
				<mat-icon class="icon_back" (click)="goBack()">arrow_back</mat-icon>
			}
			<span class="title"> {{ title() }}</span>
		</div>

		<div style="display: flex;">
			<div style="display: flex;">
				@if(show_create()){
					<button class="btn" (click)="action_create()()" [disabled]="!show_create()">Crear</button>
				}
				<div class="c-float">
						<div class="btn" >
								Exportar
								<div></div>
								<mat-icon class="icon">arrow_drop_down</mat-icon>
						</div>
						<div class="float-option">
								<div class="item-option" (click)="action.emit('excel')">
										<img src="/images/exports/xlsx.svg" />
										<span>Excel</span>
								</div>
								<div class="item-option" (click)="action.emit('pdf')">
										<img src="/images/exports/pdf.svg" />
										<span>PDF</span>
								</div>
						</div>
				</div>
			</div>
			@if(show_widget_btn()){
				<ng-content select="[widget-header]"></ng-content>
			}
		</div>
	</div>
	<div class="c-body">
		<ng-content></ng-content>
	</div>
    
</div>
