.main-container{
  /* background: linear-gradient(180deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 20%, rgba(0, 212, 255, 1) 100%); */
  width: 100%;
  height: 100%;
  background-image: var(--url-background);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

/* .main-container{
  background: linear-gradient(135deg, #f4f7ff 0%, #ffffff 60%);
  background-image: url('/images/principal/dots.svg');
  background-size: 500px;
  background-repeat: repeat;
  padding: 60px 0;
} */
