.bg-login{
  background: linear-gradient(135deg, var(--aquasonic-coral), var(--aquasonic-flamingo) 50%, var(--aquasonic-peach));
}

.container-login{
  padding: 20px;
  width: 300px;
  backdrop-filter: blur(9px);
  background: hsla(0, 0%, 100%, .15);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, .1), 0 0 0 1px hsla(0, 0%, 100%, .2), inset 0 0 0 1px hsla(0, 0%, 100%, .1);
  overflow: hidden;
  border: 1px solid hsla(0, 0%, 100%, .3);
  text-align: center;
}

.widthIn{
  visibility: collapse;
  animation: widthIn 1s forwards;
  transform-origin: left; 
  animation-delay: .5s;
}

.widthInReverse{
  visibility: collapse;
  animation: widthInReverse 1s forwards;
  transform-origin: right; 
  animation-delay: .5s;
}

.zoomIn{
  animation: zoomIn 1s forwards;
}

.zoomInDelay{
  visibility: collapse;
  animation: zoomIn 1s forwards;
  animation-delay: 1.2s;
}

.heightIn{
  visibility: collapse;
  animation: heightIn 1s forwards;
  animation-delay: .5s;
}

button{
  margin-top: 20px;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 9px;
}

.options{
  font-size: .9em;
  cursor: pointer;
  transition: .3s;
  margin-top: 15px;
  color: white;
}