/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');
/* @import "tailwindcss"; */

:root {
  --primary-color: #037bd0;
  --secondary-color: #54eeb8;
  --text-primary-color: black;
  --text-title-color: gray;
  --text-table-hover-color: #037bd0;
  --background-primary-button: #037bd0;
  --background-header: white;
  --background-body: #efefef;
  --aquasonic-coral: #037bd0;
  --aquasonic-flamingo: #3a89c1;
  --aquasonic-peach: #308acab0;
  --url-background: url("/images/principal/wp-light.webp");
  --url-logo: "/logo.png";
  --tr-even: #efefef;
  --tr-odd: white;
}

[data-theme='dark'] {
  --primary-color: black;
  --text-primary-color: white;
  --background-header: #7b7b7b;
  --background-primary-button: #27b2d1;
  --text-title-color: #dcdcdc;
  --background-body: #4a4a4a;
  --tr-even: transparent;
  --tr-odd: #828282;
  --text-table-hover-color: #0a2f56;
  --url-background: url("/images/principal/wp-dark.webp");
  --url-logo: "/logo-white.png";
  --mdc-outlined-text-field-outline-color: #00bcd4;
  --mdc-outlined-text-field-focus-outline-color: #007a99 !important;
  --mdc-outlined-text-field-label-text-color: #00bcd4;

}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Titillium Web" !important;
}

.container-full{
    width: 100%;
    height: 100%;
}

.flex{ display: flex; align-items: center; }
.flex-center{ justify-content: center;}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* mobile */
  gap: 16px;
}

.grid-container .item{
  min-width: 100%;
}

.c-table{
  padding: 10px; 
  height: calc(100% - 134px);
  overflow: auto;
}

.custom-snackbar .mat-mdc-snackbar-surface,
.custom-snackbar .mdc-snackbar__surface {
  padding: 0 !important;
  box-shadow: none !important;
  background-color: transparent !important;

}

.custom-snackbar .mdc-snackbar__label {
  padding: 0 !important;
  margin: 0 !important;
  line-height: 1.2;
  box-shadow: none !important;
}

.selected{
  color: var(--background-primary-button) !important;
}


@keyframes widthIn {
	0% {
		visibility: visible;
		transform: scaleX(0);
	}
	100% {
		visibility: visible;
		transform: scaleX(1);
	}
}

@keyframes widthInReverse {
    0% {
        visibility: visible;
        transform: scaleX(0);
    }
    100% {
        visibility: visible;
        transform: scaleX(1);
    }
}

.zoom-in {
  opacity: 0;
  animation: zoomIn 0.6s ease forwards;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-30px);
  animation: fadeInLeft 0.8s ease-out forwards;
}

@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-right {
  opacity: 0;
  transform: translateX(30px);
  animation: fadeInRight 0.8s ease-out forwards;
}

@keyframes fadeInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes heightIn {
	0% {
		visibility: visible;
		transform: scaleY(0);
	}
	100% {
		visibility: visible;
		transform: scaleY(1);
	}
}

.fade-in {
  opacity: 0;
  animation: fadeIn .6s ease-in forwards;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dialog-profile{
  width: 50%;
  max-width: 100vw !important;
  box-sizing: border-box;
  border-radius: 9px !important;
}

@media (max-width: 1390px) {
  .dialog-profile {
    width: 60% !important; /* tablet */
  }
}

@media (max-width: 1024px) {
  .dialog-profile {
    width: 75% !important; /* tablet */
  }
}

@media (max-width: 600px) {
  .dialog-profile {
    width: 100% !important;
    height: 100% !important;
  }
}