.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.form{
  padding: 20px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 1px gray;
  height: fit-content;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form span{
  font-size: 1.5em;
  text-align: center;
  transition: .3s;
  color: var(--text-primary-color);
}

.message {
  width: 100%;
  height: 130px;
  padding: 10px; 
  box-sizing: border-box;
  border-radius: 9px;
  background: hsla(0, 0%, 100%, .18823529411764706);
  outline: none;
  border: none;
  box-shadow: 0 0 1px grey;
  caret-color: var(--text-primary-color);
  color: var(--text-primary-color);
  font-family: "Titillium Web";
  transition: .3s;
}
.message::placeholder{
  color: var(--text-primary-color);
}

.btn-send{
  background: var(--background-primary-button) !important;
}

.btn-send:disabled{
  background: #d5dbe1 !important;
}

.widthIn{
  visibility: collapse;
  animation: widthIn 1s forwards;
  transform-origin: left; 
  animation-delay: .5s;
}

.widthInReverse{
  visibility: collapse;
  animation: widthInReverse 1s forwards;
  transform-origin: right; 
  animation-delay: .5s;
}

.custom{
  margin: 5px auto;
}

::ng-deep .custom circle {
  stroke: var(--background-primary-button); /* verde */
}

@media (max-width: 400px) {
  .form{
    margin: 0 20px;
  }
}
